:root {
  --primary: #1e242c;
  --secondary: #08fdd8;
  --primary-light: #364150;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::selection {
  background-color: var(--secondary);
  color: var(--primary);
}
html::-webkit-scrollbar {
  width: 12px;
  background: var(--primary);
}
html::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 6px;
}
html {
  scroll-behavior: smooth;
}
.my-name {
  color: var(--secondary);
  font-style: normal;
  font-family: "Kalam", cursive;
}
em {
  color: var(--secondary);
  font-style: normal;
  /* text-shadow: 0 0 0px #1a1e23, 0 0 0px #1a1e23; */
  font-weight: bolder;
}
/*-------- NAVBAR ---------*/
.navbar {
  background: rgba(30, 36, 44, 0.8);
}
.navbar-brand {
  color: white;
}
.nav-link {
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-right: 15px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.nav-link:hover {
  color: var(--secondary);
}
.nav-link::after {
  content: "";
  display: block;
  background-color: var(--secondary);
  height: 2px;
  transform: scaleX(0);
  transition: transform 300ms;
}
.nav-link:hover::after {
  transform: scaleX(1);
  color: white;
}
.contact-btn {
  border: 2px solid var(--secondary);
  border-radius: 30px;
  color: var(--secondary);
  font-weight: 500;
  margin-top: 2px;
  padding: 4px 15px 5px 15px;
}
.contact-btn:hover {
  background-color: var(--secondary);
  color: var(--primary);
  transition: 0.5s;
}
.con-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-toggler-icon {
  color: white;
}
.nav-scrolled {
  background-color: #1e242cb9;
}
/*------- BANNER -------*/
.banner {
  background-color: var(--primary);
  background-size: cover;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-content {
  font-family: "Kalam", cursive;
  font-size: 70px;
  margin-top: 100px;
}
.intro-content-para {
  font-size: 30px;
  font-family: "Kalam", cursive;
  color: #4c5b70;
}
.download-btn {
  border: 2px solid var(--secondary);
  border-radius: 30px;
  color: var(--secondary);
  font-weight: 500;
  margin-top: 2px;
  padding: 4px 15px 5px 15px;
  text-align: center;
  font-size: 20px;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 70px;
}
.download-btn:hover {
  background-color: var(--secondary);
  color: var(--primary);
  transition: 0.5s;
}
.code-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 400px;
  margin-top: 60px;
  color: var(--primary-light);
  font-family: "Kalam", cursive;
}

/*-------------- ABOUT -----------*/
.about {
  margin-top: 80px;
  color: var(--primary);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-h1 {
  font-weight: 600;
}
.about-h1::after {
  content: "";
  display: block;
  background-color: var(--secondary);
  height: 3px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
}
.about-content {
  margin-top: 60px;
  margin-bottom: 50px;
}
.about-img img {
  width: 250px;
}
.about-para {
  font-size: 15px;
  text-align: center;
  margin-top: 40px;
}
.about-para h5 {
  font-size: 25px;
  font-weight: bold;
}
.about-para p {
  margin-top: 15px;
}
.about-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-si {
  background-color: var(--primary-light);
  color: white;
  font-size: 22px;
  margin-top: 10px;
  margin-right: 15px;
  padding: 10px 10px 10px 10px;
  border-radius: 50%;
  cursor: pointer;
}
.about-si:hover {
  background-color: var(--secondary);
  color: var(--primary-light);
  transition: 0.5s;
}
/*------- MY SKILLS -------*/
.my-skills {
  margin-top: 80px;
  color: var(--primary);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
  width: 100%;
  /* min-height: 100vh; */
}
.my-skills-h1 {
  font-weight: 600;
}
.my-skills-h1::after {
  content: "";
  display: block;
  background-color: var(--secondary);
  height: 3px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.skills-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 40px;
}
.skills-section2 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.circle {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: default;
}
.box,
.box span {
  position: absolute;
  top: 50%;
  left: 50%;
}
.box {
  height: 100%;
  width: 100%;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(0.8);
  border-radius: 50%;
  transition: all 0.2s;
}
.box span {
  font-size: 38px;
  font-weight: 600;
  transform: translate(-45%, -50%);
}
.lang {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.circle:hover .box {
  transform: translate(-50%, -50%) scale(0.91);
}
.circle:hover .box span {
  transform: translate(-45%, -50%) scale(1.09);
}
/*------- PROJECTS -------*/

.projects {
  margin-top: 70px;
  color: var(--primary);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
}
.projects-h1 {
  font-weight: 600;
}
.projects-h1::after {
  content: "";
  display: block;
  background-color: var(--secondary);
  height: 3px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.project-content {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.project-content1 {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.pro-website {
  border-radius: 8px;
  margin-bottom: 20px;
  width: 542px;
  height: 165px;
}
.pro-website:hover {
  transition: 0.3s;
  box-shadow: 5px 10px 10px #2f3338;
}
.project-img {
  cursor: pointer;
  object-fit: cover;
}
.project-in-modal {
  margin-top: 10px;
}
.view-website-btn {
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  width: 150px;
  height: 50px;
}
.view-website-btn:hover {
  background-color: var(--primary);
  color: var(--secondary);
}
.see-more-btn {
  color: var(--secondary);
  background-color: var(--primary);
  width: 200px;
  height: 47px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.see-more-btn:hover {
  background-color: var(--secondary);
  color: var(--primary-light);
  border: none;
  transition: 0.5s;
}

/*------- TESTIMONIAL ---------*/
.testimonial {
  color: var(--primary);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
.testimonial-h1 {
  margin-top: 50px;
  text-align: center;
  font-weight: 600;
}
.testimonial-h1::after {
  content: "";
  display: block;
  background-color: var(--secondary);
  height: 3px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
}
.testimonials {
  margin-top: 40px;
  margin-bottom: 70px;
}
.all-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.card {
  width: 300px;
  height: 400px;
  margin-right: 30px;
  background-color: var(--primary-light);
  color: var(--secondary);
  border-radius: 10px;
  margin-bottom: 20px;
}
.card:hover {
  background-color: var(--primary);
  color: var(--secondary);
}
.person-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 210px;
  height: 210px;
}
.position {
  margin-top: 10px;
  color: #82f0df;
}
.person-name {
  margin-top: 10px;
}
/* 
.person-name h3 {
} */
.person-text {
  font-weight: 200;
  font-size: 14px;
  color: rgb(238, 238, 238);
}
.vishal {
  border-radius: 100%;
}
.vishal-comment {
  margin-top: 10px;
  font-size: 14px;
}
.sasi-anna {
  margin-bottom: 37px;
}
.sasi {
  width: 92px;
  border-radius: 100%;
}
.sasi-comment {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
.carousel-indicators {
  left: 0;
  top: auto;
  bottom: -70px;
}
.testimonial-comments {
  margin-bottom: 30px;
}
.sanjay {
  border-radius: 100%;
  margin-top: -95px;
}
.sanjay-testimonial {
  margin-top: -80px;
}
.sanjay-comment {
  color: white;
  font-weight: 400;
  margin-top: 10px;
}
.manik {
  border-radius: 100%;
}
.manik-comment {
  color: white;
  font-weight: 400;
  margin-top: 10px;
}
.prithiv {
  border-radius: 100%;
  margin-top: -10px;
}
.prithiv-testimonial {
  margin-bottom: 25px;
}
.prithiv-comment {
  color: white;
  font-weight: 400;
  margin-top: 10px;
}
/*------- TESTIMONIAL FOR MOBILE ---------*/
.tetsimonial-for-mobile {
  display: none;
}

/*------- CONTACT ME ---------*/
.contact {
  width: 100%;
  min-height: 100vh;
  background-color: #252934;
  color: white;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
}
.contact-h1 {
  margin-top: 65px;
  font-weight: 500;
}
.contact-h1::after {
  content: "";
  display: block;
  background-color: var(--secondary);
  height: 3px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.form {
  margin-top: 80px;
  overflow-x: hidden;
}
.user {
  display: block;
  background-color: #1e242c;
  color: white;
  width: 450px;
  height: 45px;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
.user:focus {
  outline: none;
  background-color: #1e242c;
  border: none;
}

.user-message {
  width: 50px;
  height: 150px;
}
.user-message {
  background-color: #1e242c;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: 450px;
}
.user-message:focus {
  outline: none;
  background-color: #1e242c;
  border: none;
}
.submit-btn {
  background-color: transparent;
  color: var(--secondary);
  border: 2px solid var(--secondary);
  padding: 10px 10px 10px 10px;
  border-radius: 30px;
  width: 130px;
  font-weight: 600;
  font-size: 17px;
  margin-top: 30px;
}
.submit-btn:hover {
  transition: 200ms;
  font-weight: 600;
  background-color: var(--secondary);
  color: var(--primary-light);
  transition: 0.5s;
}
/*------- FOOTER ---------*/
.footer {
  background-color: #1a1e23;
  color: white;
  width: 100%;
  min-height: 43vh;
  text-align: center;
}
.footer .logo-footer {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-si {
  color: white;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
  font-size: 30px;
  margin-top: 35px;
  margin-left: 5px;
  margin-right: 10px;
}
.footer-si:hover {
  background-color: var(--secondary);
  transition: 0.3s;
}
.footer-si-insta:hover {
  background-color: #d62977;
}
.footer-si-twitter:hover {
  background-color: #1da1f2;
}
.footer-si-linkedin:hover {
  background-color: #0077b5;
}
.footer-si-github:hover {
  background-color: #4078c0;
}
.copyrights {
  margin-top: 35px;
  margin-left: 50px;
}
.back-to-top {
  display: inline;
}
.fa-arrow-up {
  display: flex;
  background-color: var(--secondary);
  color: var(--primary-light);
  padding: 10px 12px 10px 12px;
  border-radius: 50%;
  font-size: 20px;
  float: right;
  margin-right: 20px;
}
@media (max-width: 425px) {
  body {
    overflow-x: none;
  }
  .navbar-brand {
    margin-left: 20px;
  }
  .navbar-toggler {
    padding: 0;
  }
  .con-btn {
    margin-bottom: 8px;
  }
  .code-symbol {
    display: none;
  }
  .intro-content {
    font-size: 50px;
  }
  .navbar-toggler-icon {
    color: white;
    margin-top: 12px;
  }
  .user {
    width: 320px;
  }
  .about-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 662px) {
  .testimonial {
    min-height: 170vh;
    display: none;
    overflow-x: none;
  }
  .tetsimonial-for-mobile {
    display: block;
    margin-top: 30px;
  }
  .person-name h2 {
    color: var(--secondary);
    font-weight: bold;
  }
  .person-name h6 {
    color: rgb(91, 219, 206);
  }
  .card-m {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    text-align: center;
    background-color: var(--primary);
    color: rgb(209, 209, 209);
    height: 420px;
  }
  .person-text-m {
    width: 280px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .person-img {
    width: 250px;
    height: 250px;
  }
  /* .testimonial-persons-comment {
    margin-bottom: 20px;
  } */
  .sasi {
    width: 120px;
  }
  .sanjay {
    border-radius: 100%;
    margin-top: -10px;
    width: 125px;
  }
  .sanjay-testimonial,
  .prithiv-testimonial {
    margin-top: 10px;
  }
  .sanjay-comment {
    color: white;
  }
}
@media (max-width: 768px) {
  body {
    overflow-x: none;
  }
  .code-symbol {
    font-size: 280px;
    margin-right: 50px;
    margin-top: 180px;
  }
  .user {
    width: 420px;
  }
  .about-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-toggler-icon {
    margin-top: 15px;
  }
}
@media (min-width: 1024px) {
  .code-symbol {
    font-size: 320px;
    margin-right: 30px;
    margin-top: 70px;
  }
  .about-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .testimonial {
    min-height: 70vh;
  }
}
